<p><%= notice %><p>
<% if current_user %>
  <p>Hello <%= current_user.email %> <br>
    <%= link_to 'Logout', dailycred_engine.logout_path %>
    <br><%= link_to 'connect with facebook', connect_user(:facebook) %>
    <br><%= link_to 'connect with google', connect_user(:google) %>
    <br><%= link_to 'connect with twitter', connect_user(:twitter) %>
  </p>
<% else %>
  <%= link_to 'Log In', login_path %>
  <br><%= link_to 'connect with facebook', connect_path(:identity_provider => :facebook) %>
  <br><%= link_to 'connect with google', connect_path(:identity_provider => :google) %>
  <br><%= link_to 'connect with twitter',connect_path(:identity_provider => :twitter) %>
  <br><br><%= render partial: "reset_password" %>
<% end %>
